flask
pdfplumber
python-docx
nltk
sentence-transformers
scikit-learn
gunicorn
pytesseract
pdf2image
spacy
xgboost
fastapi
uvicorn
python-multipart
python-jose[cryptography]
passlib[bcrypt]
google-auth
google-auth-oauthlib
google-api-python-client
cryptography
